@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Helvetica-Bold';
    src: url('../fonts/Helvetica-Bold.woff2');
    font-weight: 700;
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing:  inherit;
}


a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

button {
    color: inherit;
    font-size: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
    padding: 0;
}

.section-title {
    font-weight: 400px;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

body { 
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: var(--grey, rgba(92, 92, 94, 1));
}

.header {
    border-bottom: 1px solid rgba(202, 202, 214, 1);
}

.nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 80px;
}

.menu-btn {
    width: 40px;
    height: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.menu-btn span {
    height: 2px;
    background-color: black;
    width: 100%;
}

.menu {
    display: flex;
    gap: 0 20px;
}

.logo {
    justify-self: center;
    display: flex;
}

.basket {
    position: relative;
    justify-self: end;
}

.basket--on span {
    font-size: 11px;
    height: 12px;
    width: 12px;
    background-color: black;
    border-radius: 50%;
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    line-height: 0;
    justify-content: center;
    bottom: 0;
    right: -20%
}

.top {
    min-height: calc(100vh - 81px);
    background-image: url('../images/background-top.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center; 
}

.title {
    padding-top: 16%;
    font-weight: 400;
    font-size: 96px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 36px;
    margin-bottom: 5px;
}

.top__text {
    font-size: 13px;
    padding-bottom: 50px;
}

.buy-btn {
    background: var(--gradient, linear-gradient(180.00deg, rgba(187.75599670410156, 16.17656707763672, 215.6875, 1),rgba(79.9000473022461, 0, 249.6875, 0.93) 100%));
    border: none;
    display: flex;
    font-family: 'Helvetica';
    padding: 1px;
    font-size: 16px;
    font-weight: 700;
}

.buy-btn__text {
    color: var(--white, rgba(246, 244, 245, 1));
    padding: 20px 110px;
}

.buy-btn__price {
    padding: 20px 105px;
    background: var(--white, rgba(246, 244, 245, 1));
    color: var(--grey, rgba(92, 92, 94, 1));
}

.buy__text {
    padding-top: 10px;
    font-size: 13px;
}

.features {
    padding: 100px 0;
}

.features__titles {
    display: flex;
}

.features__title {
    flex-basis: 300px;
    padding-right: 20px;
}

.section-text {
    background: var(--gradient, linear-gradient(180.00deg, rgba(187.75599670410156, 16.17656707763672, 215.6875, 1),rgba(79.9000473022461, 0, 249.6875, 0.93) 100%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    font-size: 36px;
    text-transform: uppercase;

}

.features__text {
    max-width: 330px;
    margin-bottom: 2px;
    /* background: var(--gradient, linear-gradient(180.00deg, rgba(187.75599670410156, 16.17656707763672, 215.6875, 1),rgba(79.9000473022461, 0, 249.6875, 0.93) 100%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
}

.tabs {
    display: grid;
    grid-template-columns: 300px auto;
}


.tabs__btn {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    align-items: flex-start;
    font-weight: 700;
    color: var(--grey, rgba(92, 92, 94, 1));
}

.tabs__btn-item{
    margin-bottom: 20px;
}

.tabs__btn-item--active {
    color: #070707;
}

.tabs__content-item {
    display: none;
    grid-template-columns: auto 1px 280px;
    grid-template-rows: auto 150px;
    gap: 20px;
}

.tabs__content-item--active{
    display: grid;
}

.tabs__content-img {
    grid-row: 1 / -1;
    object-fit: cover;
    align-self: stretch;
    width: 100%;
}

.tabs__content-line {
    background: var(--light grey, rgba(202, 202, 214, 1));
    height: 100%;
    min-width: 1px;
    grid-row: 1 / -1;
    display: flex;
    justify-self: center;
}

.tabs__content-box h3 {
    color: var(--grey, rgba(92, 92, 94, 1));
    font-size: 24px;
    font-weight: 400;

}

.tabs__content-box p {
    color: var(--grey, rgba(92, 92, 94, 1));
}

.video {
    width: 280px;
    height: 150px;
    background-image: url('../images/content-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: flex-start;

}

.video__btn {
    padding-left: 31px;
}

.video__text {
    padding: 9px 10px;
    color: var(--white, rgba(246, 244, 245, 1));
    font-size: 13px;
}

.games {
    margin-bottom: 100px;
}


.games__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.games__title {
    margin-bottom: 50px;
}

.games__text {
    max-width: 300px;
    margin-bottom: 10px;
}

.games__subtext {
    margin-bottom: 30px;
    margin-right: 10px;
}

.games__titles-btn {
    background: var(--gradient, linear-gradient(180.00deg, rgba(187.75599670410156, 16.17656707763672, 215.6875, 1),rgba(79.9000473022461, 0, 249.6875, 0.93) 100%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    font-weight: 700;
    padding: 14px 46px;
    border: 1px solid rgba(187.75599670410156, 16.17656707763672, 215.6875, 1);
    display: inline-block;
    
}

/* .games__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */


.games__item {
    border: 1px solid rgba(187.75599670410156, 16.17656707763672, 215.6875, 1);
    display: flex;
    flex-direction: column;
    padding: 22px 13px 20px 20px;
}


.games__item img {
    padding-bottom: 10px;
    padding-right: 7px;
}

.games__item h3 {
    font-size: 24px;
    font-weight: 400;
    color: var(--Black, rgba(7, 7, 7, 1));
    padding-bottom: 10px;
}

.games__item p {
    padding-right: 7px;
    padding-bottom: 40px;
    line-height: 1;
}

.games__item a {
    background: var(--gradient, linear-gradient(180.00deg, rgba(187.75599670410156, 16.17656707763672, 215.6875, 1),rgba(79.9000473022461, 0, 249.6875, 0.93) 100%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    margin-top: auto;
    padding-right: 7px;

}

.vr {
    margin-bottom: 100px;
}

.vr__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.vr__content-img {
    margin-bottom: 30px;
}

.vr__content-bg {
    background: var(--gradient, linear-gradient(180.00deg, rgba(187.75599670410156, 16.17656707763672, 215.6875, 1),rgba(79.9000473022461, 0, 249.6875, 0.93) 100%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    font-size: 400px;
    font-weight: 700;
    line-height: 100%;
    opacity: 0.1;
    position: absolute;
    z-index: -1;
    /* animation: line-text 6s linear 1s infinite; */
}

@keyframes line-text {
    from {
        transform: translateX(115%);
    }
    to {
        transform: translateX(-115%);
    }
}

.box {
    margin-bottom: 100px;
}

.box__title {
    margin-bottom: 50px;
}

.box__elements {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.box__element--active {
    grid-row: 1 / -1;
}


.box__element-img {
    margin-bottom: 10px;
}

.promo {
    margin-bottom: 100px;
}

.promo__inner {
    background-image: url('../images/background-promo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.promo__inner-btn{
    margin-bottom: 95px;
}

.accessories {
    margin-bottom: 100px;
}

.accessories__title {
    margin-bottom: 30px;
}

.accessories__text {
    margin-bottom: 30px;
}

.accessories__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.accessories__item {
    border: 1px solid;
    border-image: linear-gradient(180.00deg, rgba(187.75599670410156, 16.17656707763672, 215.6875, 1),rgba(79.9000473022461, 0, 249.6875, 0.93) 100%) 1;
    padding: 20px 20px 20px 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.accessories__item-img {
    margin-bottom: 10px;
}

.accessories__item-text {
    color: var(--Black, rgba(7, 7, 7, 1));
    font-size: 24px;
    margin-bottom: 10px;
    min-height: 67px;
}

.accessories__item-subtext {
    margin-top: auto;
    margin-bottom: 42px;
}

.accessories__item-price {
    color: var(--Black, rgba(7, 7, 7, 1));
    font-weight: 700;
    margin-top: auto;
    margin-bottom: 20px;
}

.accessories__item-btn {
    margin-top: auto;
    border: 1px solid rgba(187.75599670410156, 16.17656707763672, 215.6875, 1);
    padding: 5px 0px;
    background: var(--gradient, linear-gradient(180.00deg, rgba(187.75599670410156, 16.17656707763672, 215.6875, 1),rgba(79.9000473022461, 0, 249.6875, 0.93) 100%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    font-weight: 700;
}


.contacts {
    margin-bottom: 100px;
}

.contacts__title {
    color: var(--Black, rgba(7, 7, 7, 1));
    font-size: 24px;
}

.contacts__inner {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    align-items: end;
    justify-content: space-between;
}


.contacts__form {
    flex-basis: 600px;

}

.form {
    position: relative;
    margin-bottom: 10px;
}

.form__input {
    border: none;
    border-bottom: 1px solid grey;
    width: 100%;
    padding: 22px 70px 20px 0px;
}

.form__input::placeholder {
    color: var(--light grey, rgba(202, 202, 214, 1));
    font-family: Helvetica;
    font-size: 13px;
    font-weight: 400;
    line-height: 100%;
}

.form__btn {
    position: absolute;
    right: 0;
    bottom: 5px;
}

.contacts__text {
    font-size: 13px;
}


.footer {
    border-bottom: 1px solid grey;;
    border-top: 1px solid grey;
    margin-bottom: 50px;
    padding: 30px 0;
}

.socials {
    display: flex;
    gap: 20px;
    justify-self: end;
}

@media (max-width: 1140px) {
    .footer .menu {
        display: none;
    }
    .nav {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 992px) {
    .tabs {
        display: block;
    }

    .tabs__btn {
        display: block;
        column-count: 2;
    }

    .tabs__btn-item {
        display: block;
    }

    .games__inner {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .accessories__items {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

}

@media (max-width: 820px) {
    .box__elements {
        grid-template-columns: repeat(3, 1fr);
    }

    .contacts__inner {
        display: block;
    }

    .contacts__form {
        margin-bottom: 20px;
    }

    .menu-btn {
        display: flex;
    }

    .menu {
        /* display: none; */
        transform: translateX(-100%);
        transition: transform 1s;
        position: absolute;
        top: 80px;
        left: 0px;
        right: 0px;
        width: 320px;
        background-color: black;
        color: white;
        padding: 100px 0;
        flex-direction: column;
        align-items: center;
    }

    .menu--active {
        transform: translateX(0%);
    }

    .menu__link {
        display: block;
        font-size: 20px;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 66px;
    }
    .subtitle {
        font-size: 24px;
    }
}

@media (max-width: 640px) {
    .buy-btn {
        flex-direction: column;
        margin: 0 auto;
    }

    .top {
        text-align: center;
    }
}

@media (max-width: 558px) {
    .features__titles {
        display: block;
    }

    .tabs__content-item--active {
        display: block;
    }

    .video {
        margin-top: 20px;
    }

    .section-text {
        font-size: 30px;
    }

    .games__inner {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .games__titles {
        justify-items: center;
        text-align: center;
    }

    .box__elements {
        display: block;
    }

    .box__element-img {
        width: 100%;
    }

    .box__element-text {
        text-align: center;
        margin-bottom: 10px;
    }

    .accessories__items {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .nav {
        grid-template-columns: 1fr 2fr 1fr;
    }

    .footer .nav {
        flex-direction: column;
        height: auto;
    }

    .socials {
        order: -1;
        margin-bottom: 10px;
    }
}

@media (max-width: 420px) {
    .title {
        font-size: 48px;
    }

    .subtitle {
        font-size: 20px;
    }

    
    .tabs__btn {
        display: flex;
        /* justify-items: center; */
        align-items: center;
    }
}

