@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Helvetica-Bold';
    src: url('../fonts/Helvetica-Bold.woff2');
    font-weight: 700;
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing:  inherit;
}


a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

button {
    color: inherit;
    font-size: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
    padding: 0;
}

.section-title {
    font-weight: 400px;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

body { 
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: var(--grey, rgba(92, 92, 94, 1));
}

.header {
    border-bottom: 1px solid rgba(202, 202, 214, 1);
}

.nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 80px;
}

.menu {
    display: flex;
    gap: 0 20px;
}

.logo {
    justify-self: center;
}

.basket {
    position: relative;
    justify-self: end;
}

.basket--on span {
    font-size: 11px;
    height: 12px;
    width: 12px;
    background-color: black;
    border-radius: 50%;
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    line-height: 0;
    justify-content: center;
    bottom: 0;
    right: -20%
}

.top {
    min-height: calc(100vh - 81px);
    background-image: url('../images/background-top.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center; 
}

.title {
    padding-top: 16%;
    font-weight: 400;
    font-size: 96px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 36px;
    margin-bottom: 5px;
}

.top__text {
    font-size: 13px;
    padding-bottom: 50px;
}

.buy-btn {
    background: var(--gradient, linear-gradient(180.00deg, rgba(187.75599670410156, 16.17656707763672, 215.6875, 1),rgba(79.9000473022461, 0, 249.6875, 0.93) 100%));
    border: none;
    display: flex;
    font-family: 'Helvetica';
    padding: 1px;
    font-size: 16px;
    font-weight: 700;
}

.buy-btn__text {
    color: var(--white, rgba(246, 244, 245, 1));
    padding: 20px 110px;
}

.buy-btn__price {
    padding: 20px 105px;
    background: var(--white, rgba(246, 244, 245, 1));
    color: var(--grey, rgba(92, 92, 94, 1));
}

.buy__text {
    padding-top: 10px;
    font-size: 13px;
}

.features {
    padding: 100px 0;
}

.features__titles {
    display: flex;
}

.features__title {
    flex-basis: 300px;
    padding-right: 20px;
}

.section-text {
    background: var(--gradient, linear-gradient(180.00deg, rgba(187.75599670410156, 16.17656707763672, 215.6875, 1),rgba(79.9000473022461, 0, 249.6875, 0.93) 100%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    font-size: 36px;
    text-transform: uppercase;

}

.features__text {
    max-width: 330px;
    margin-bottom: 2px;
    /* background: var(--gradient, linear-gradient(180.00deg, rgba(187.75599670410156, 16.17656707763672, 215.6875, 1),rgba(79.9000473022461, 0, 249.6875, 0.93) 100%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
}

.tabs {
    display: grid;
    grid-template-columns: 300px auto;
}


.tabs__btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    font-weight: 700;
    color: var(--grey, rgba(92, 92, 94, 1));
}

.tabs__btn-item--active {
    color: #070707;
}

.tabs__content-item {
    display: none;
    grid-template-columns: 580px auto 280px;
    grid-template-rows: auto 150px;
}

.tabs__content-item--active{
    display: grid;

}

.tabs__content-img {
    grid-row: 1 / -1;
}

.tabs__content-line {
    border: 1px solid var(--light grey, rgba(202, 202, 214, 1));
    height: 300px;
    width: 0px;
    grid-row: 1 / -1;
    display: flex;
    justify-self: center;
    /* padding: 0 20px; */
}

.tabs__content-box h3 {
    color: var(--grey, rgba(92, 92, 94, 1));
    font-size: 24px;
    font-weight: 400;
}

.tabs__content-box p {
    color: var(--grey, rgba(92, 92, 94, 1));
}

.video {
    width: 280px;
    height: 150px;
    background-image: url('../images/content-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

}

.video__btn {
    padding-left: 31px;
}

.video__text {
    padding: 9px 10px;
    color: var(--white, rgba(246, 244, 245, 1));
    font-size: 13px;
}

.games {
    margin-bottom: 100px;
}


.games__grid {
    display: grid;
    grid-template-columns: 300px auto;
}


.games__title {
    margin-bottom: 50px;
}

.games__text {
    max-width: 300px;
    margin-bottom: 10px;
}

.games__subtext {
    margin-bottom: 30px;
    margin-right: 10px;
}

.games__titles-btn {
    background: var(--gradient, linear-gradient(180.00deg, rgba(187.75599670410156, 16.17656707763672, 215.6875, 1),rgba(79.9000473022461, 0, 249.6875, 0.93) 100%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    font-weight: 700;
    padding: 14px 46px;
    border: 1px solid rgba(187.75599670410156, 16.17656707763672, 215.6875, 1);
    display: inline-block;
    
}

.games__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: center;
    align-content: center; */
}

.games__list-item {

    padding-left: 20px;
    padding-right: 13px;
    border: 1px solid rgba(187.75599670410156, 16.17656707763672, 215.6875, 1);
    display: flex;
    flex-direction: column;
}


.games__list-item img {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 5px;
}

.games__list-item h3 {
    font-size: 24px;
    font-weight: 400;
    color: var(--Black, rgba(7, 7, 7, 1));
}

.games__list-item p {
    padding-bottom: 40px;
    padding-right: 5px;
    line-height: 1;
}

.games__list-item a {
    background: var(--gradient, linear-gradient(180.00deg, rgba(187.75599670410156, 16.17656707763672, 215.6875, 1),rgba(79.9000473022461, 0, 249.6875, 0.93) 100%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    padding-bottom: 22px;
    margin-top: auto;
}

.vr {
    margin-bottom: 100px;
}

.vr__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.vr__content-img {
    margin-bottom: 30px;
    max-width: 347px;
    max-height: 334px;
}

.vr__content-bg {
    background: var(--gradient, linear-gradient(180.00deg, rgba(187.75599670410156, 16.17656707763672, 215.6875, 1),rgba(79.9000473022461, 0, 249.6875, 0.93) 100%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    font-size: 400px;
    font-weight: 700;
    line-height: 100%;
    opacity: 0.1;
    position: absolute;
    z-index: -1;
    /* animation: line-text 6s linear 1s infinite; */
}

@keyframes line-text {
    from {
        transform: translateX(115%);
    }
    to {
        transform: translateX(-115%);
    }
}

.box {
    margin-bottom: 100px;
}

.box__title {
    margin-bottom: 50px;
}

.box__elements {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.box__element--active {
    grid-row: 1 / -1;
}


.box__element-img {
    margin-bottom: 10px;
}

.promo {
    margin-bottom: 100px;
}

.promo__inner {
    background-image: url('../images/background-promo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.promo__inner-btn{
    margin-bottom: 95px;
}

.accessories {
    margin-bottom: 100px;
}

.accessories__title {
    margin-bottom: 30px;
}

.accessories__text {
    margin-bottom: 30px;
}

.accessories__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.accessories__item {
    border: 1px solid;
    border-image: linear-gradient(180.00deg, rgba(187.75599670410156, 16.17656707763672, 215.6875, 1),rgba(79.9000473022461, 0, 249.6875, 0.93) 100%) 1;
    padding: 20px 20px 20px 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.accessories__item-img {
    margin-bottom: 10px;
}

.accessories__item-text {
    color: var(--Black, rgba(7, 7, 7, 1));
    font-size: 24px;
    margin-bottom: 10px;
    min-height: 67px;
}

.accessories__item-subtext {
    margin-top: auto;
    margin-bottom: 42px;
}

.accessories__item-price {
    color: var(--Black, rgba(7, 7, 7, 1));
    font-weight: 700;
    margin-top: auto;
    margin-bottom: 20px;
}

.accessories__item-btn {
    margin-top: auto;
    border: 1px solid rgba(187.75599670410156, 16.17656707763672, 215.6875, 1);
    padding: 5px 90px;
    background: var(--gradient, linear-gradient(180.00deg, rgba(187.75599670410156, 16.17656707763672, 215.6875, 1),rgba(79.9000473022461, 0, 249.6875, 0.93) 100%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.contacts {
    margin-bottom: 100px;
}

.contacts__title {
    color: var(--Black, rgba(7, 7, 7, 1));
    font-size: 24px;
}

.contacts__inner {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    align-items: end;
    justify-content: space-between;
}


.contacts__form {
    flex-basis: 600px;

}

.form {
    position: relative;
    margin-bottom: 10px;
}

.form__input {
    border: none;
    border-bottom: 1px solid grey;
    width: 100%;
    padding: 22px 70px 20px 0px;
}

.form__input::placeholder {
    color: var(--light grey, rgba(202, 202, 214, 1));
    font-family: Helvetica;
    font-size: 13px;
    font-weight: 400;
    line-height: 100%;
}

.form__btn {
    position: absolute;
    padding-left: 300px;
    right: 0;
    bottom: 5px;
}

.contacts__text {
    font-size: 13px;
}


.footer {
    border-bottom: 1px solid grey;;
    border-top: 1px solid grey;
    margin-bottom: 50px;
    padding: 30px 0;
}

.socials {
    display: flex;
    gap: 20px;
    justify-self: end;
}



